html,body {
  height:100%;
  width:100%;
  margin:0;
  background-color: black;
}

body {
	margin: 0;
    padding: 0;
    display:flex;
}

#registerForm {
	margin: auto;
	background-color: #585858;
	border-radius: 5px;
	border: 1px solid gray;
	padding: 25px;
	box-shadow: 0px 0px 8px 3px #EEE;
}

#registerForm .label {
	color: white;
}

.errorMessage {
	color: red;
}