<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"   
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">  
  
<html xmlns="http://www.w3.org/1999/xhtml"  
    xmlns:h="http://java.sun.com/jsf/html"  
    xmlns:f="http://java.sun.com/jsf/core">  
  
<h:head>  
    <title><h:outputText value="#{msg['registration.title']}" /></title>  
</h:head>  

<h:body>  
    <f:view>  
        <h:outputText value="#{msg['failure.message']}" />
    </f:view>  
</h:body>  
</html>  