<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"   
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">

<h:head>
	<title><h:outputText value="#{msg['registration.title']}" /></title>
	<link rel="shortcut icon" type="image/x-icon"
		href="#{resource['images/favicon.png']}" />
	<h:outputStylesheet library="css" name="registration.css" />
</h:head>

<h:body>
	<f:view>
		<h:form id="registerForm">
			<table>
				<tr>
					<td><h:outputText styleClass="label" value="#{msg['registration.form.username.label']}:" /></td>
					<td><h:inputText id="username"
							value="#{registrationController.username}" maxlength="24" size="24" required="true"
							requiredMessage="#{msg['registration.form.username.requiredMessage']}"
							validator="#{usernameValidator.validate}" /></td>
					<td><h:message for="username" errorClass="errorMessage" /></td>
				</tr>
				<tr>
					<td><h:outputText styleClass="label" value="#{msg['registration.form.password.label']}:" /></td>
					<td><h:inputSecret id="password"
							value="#{registrationController.password}" redisplay="true" maxlength="48" size="24" required="true"
							requiredMessage="#{msg['registration.form.password.requiredMessage']}"
							validator="#{passwordValidator.validate}" /></td>
					<td><h:message for="password" errorClass="errorMessage" /></td>
				</tr>
				<tr>
					<td />
					<td><h:commandButton value="#{msg['registration.accept_button.text']}"
											action="#{registrationController.register}" /></td>
				</tr>
			</table>
		</h:form>
	</f:view>
</h:body>
</html>
