.combo-box {
	-fx-pref-width: 225px;
}

#playerLineupLabel, #computerLineupLabel, #aiStrengthLabel {
	-fx-text-fill: white;
	-fx-font-family: Papyrus;
}

#aiStrengthContainer {
	-fx-spacing: 5px;
}

/*
#playerLineupContainer, #computerLineupContainer, #aiStrengthContainer {
	-fx-border-color: #FFF;
	-fx-border-width: 1px;
}
*/