.label {
	-fx-content-display: center;
}

.CharacterDisplay {
	-fx-background-color: #000;
	-fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 12, 0, 0, 0);
	-fx-border-radius: 5 5 5 5;
	-fx-background-radius: 5;
}

#damageTakenRectangle {
	-fx-fill: rgba(192, 32, 64, 0.5);
}

#timerCountersLabel {
	-fx-text-fill: #000;
	-fx-effect: dropshadow(gaussian, rgba(255, 0, 0, 0.8), 15, 0, 0, 0);
}

#stunCountersLabel {
	-fx-text-fill: #000;
	-fx-effect: dropshadow(three-pass-box, rgba(0, 0, 255, 1.0), 20, 0, 0, 0);
}

#healthChangeLabel .text {
	-fx-stroke: #000;
	-fx-stroke-width: 3px;
}

#attackDamageLabel, #healthLabel, #magicResistanceLabel, #armorLabel, #classNameLabel {
	-fx-content-display: left;
	-fx-graphic-text-gap: 2px;
	-fx-text-fill: #FFF;
}

.separator{
    -fx-background-color: rgb(102,102,102);
    -fx-background-radius: 2;
}

/*

.buffCell .text {
	-fx-stroke: #000;
	-fx-stroke-width: 1px;
}

.buffCell .tooltip .text {
	-fx-stroke: null;
}

*/