.label {
	-fx-content-display: center;
	-fx-text-fill: white;
}

.CharacterDetailDisplay {
	-fx-background-color: rgba(50,50,50,0.75);
}

#innerContainer {
	-fx-background-color: linear-gradient(to bottom right, #000, #111);
	-fx-border-width: 1.5px;
	-fx-border-color: rgb(124,115,125);
	-fx-effect: dropshadow(gaussian, rgb(124,115,125), 5, 0.0, 0, 0);
}

#statsGridPane {
	-fx-border-width: 1.5px;
	-fx-border-color: rgb(124,115,125);
	-fx-background-color: linear-gradient(to bottom, #555 5%, #234 100%);
}

#characterImageView {
	-fx-background-color: #000;
	-fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 12, 0, 0, 0);
	-fx-border-radius: 5 5 5 5;
	-fx-background-radius: 5;
}

#timerCountersImageLabel {
	-fx-effect: dropshadow(gaussian, rgba(255, 0, 0, 0.8), 15, 0, 0, 0);
}

#attackDamageNameLabel, #healthNameLabel, #magicResistanceNameLabel, #armorNameLabel, #timerCountersNameLabel, #classNameLabel {
	-fx-alignment: baseline-left;
	-fx-graphic-text-gap: 2px;
	-fx-text-fill: #FFF;
}

#attackDamageValueLabel, #healthValueLabel, #magicResistanceValueLabel, #armorValueLabel, #timerCountersValueLabel {
	-fx-alignment: center;
	-fx-text-fill: #FFF;
}

#attackDamageImageLabel, #healthImageLabel, #magicResistanceImageLabel, #armorImageLabel, #timerCountersImageLabel {
	-fx-alignment: baseline-right;
}

#detailSkillView {
	-fx-text-fill: #FFF;
}

.titled-pane {
	-fx-text-fill: white;
}

.titled-pane > *.content {
	-fx-background-color: #222;
}

.accordion {
	-fx-background-color: #000;
	-fx-box-border: transparent;
}
