.tooltip {
	 -fx-background-radius: 3 3 3 3;
	 -fx-background-color: rgba(5, 5, 5, 0.75);
	 -fx-font-size: 12px;
}

.label {
	-fx-text-alignment: center;
}

#taskLabel, #selfDisplay, #opponentDisplay {
	-fx-text-fill: #FFF;
}

#notificationBanner {
	-fx-background-color: linear-gradient(to bottom right, rgba(224,192,128,0.7), rgba(128,96,64,0.7));
	-fx-border-width: 1px 0 1px 0;
	-fx-border-color: rgba(200, 200, 200, 0.5);
	-fx-effect: dropshadow(gaussian, #EEE, 20, 0.0, 0, 0);
	-fx-text-fill: #000;
	-fx-font-weight: bold;
}

#effectStackVBox {
	-fx-background-radius: 3 3 3 3;
	-fx-background-color: linear-gradient(to bottom right, rgba(60,60,60,0.5), rgba(30,30,30,0.5));
	-fx-border-radius: 3px;
	-fx-border-color: #000;
	-fx-border-width: 1px;
	-fx-effect: dropshadow(gaussian, #000, 5, 0.0, 0, 0);
	-fx-alignment: center;
}

#timerLabel, #actionsLeftLabel, #actionsLeftLabel2, #roundCountLabel {
	-fx-text-fill: #FFF;
}

#fieldsHBox {
	-fx-alignment: CENTER;
	/* -fx-background-color: #ABC; */
}

#centerStackPane {
	-fx-background-color: #123;
	-fx-background-image: url("/images/icons/game/background.png");
	-fx-background-repeat: stretch;
	-fx-background-position: center center;
	-fx-background-size: 100% 100%;
}

#topStackPane {
	-fx-alignment: CENTER;
	-fx-border-width: 1px;
	-fx-border-color: #000;
	-fx-effect: dropshadow(gaussian, #000, 5, 0.0, 0, 0);
}

#topStackPane, #bottomBorderPane {
	-fx-background-color: linear-gradient(to bottom right, #444, #222);
}

#drawingPane {
	-fx-background-color: null;
}

/*
#cancelButton {
	-fx-background-color: linear-gradient(to bottom right, #666, #222);
	-fx-background-radius: 10px;
	-fx-border-radius: 10px;
	-fx-border-width: 1px;
	-fx-border-color: #AAA;
	-fx-border-style: solid outside;
	-fx-text-fill: #FFF;
	-fx-effect: dropshadow(gaussian, #FFF, 15, 0.0, 0, 0);
}

#cancelButton:disabled {
	-fx-effect: none;
	-fx-border-style: solid inside;
}

#cancelButton:hover {
	-fx-background-color: linear-gradient(to bottom right, #222, #AAA);
}

#cancelButton:hover:pressed {
	-fx-border-style: solid inside;
}
*/
