.background {
	-fx-background-color: #000;
}

.combo-box .list-cell, .combo-box-popup .list-view .list-cell
{
    -fx-text-fill: #FFF;
    -fx-font-family: Papyrus;
}

.combo-box-popup .list-view {
	-fx-border-color: #ABC;
	-fx-border-width: 0.5px;
	-fx-background-color: #222;
}

.combo-box-popup .list-view .list-cell {
	-fx-background-color: #222;
}

.combo-box-popup .list-view .list-cell:hover {
	-fx-cursor: hand;
	-fx-background-color: #CCC;
}

.button, .combo-box-base, .titled-pane > .title {
	-fx-text-fill: rgb(255,255,255);
	-fx-background-color: linear-gradient(to bottom, #555 5%, #234 100%);
	-fx-border-radius: 6px;
	-fx-border-style: solid outside;
}

.button:hover, .combo-box-base:hover, .titled-pane > .title:hover {
	-fx-effect: innershadow(gaussian, #FFF, 5px, 0.0, 0, 0);
	-fx-cursor: hand;
}

.button:hover:pressed, .titled-pane > .title:hover:pressed {
	-fx-background-color: linear-gradient(to bottom, #ccc 5%, #abc 100%);
}

.button:disabled, .combo-box-base, .titled-pane > .title:disabled {
	-fx-effect: none;
}

#continueButton {
	-fx-background-color: linear-gradient(to bottom right, #A00, #222);
	-fx-background-radius: 15px;
	-fx-border-radius: 15px;
	-fx-border-width: 1px;
	-fx-border-color: #AAA;
	-fx-border-style: solid outside;
	-fx-text-fill: #FFF;
	-fx-text-alignment: center;
	-fx-effect: dropshadow(gaussian, #FFF, 15, 0.0, 0, 0);
}

#continueButton:disabled {
	-fx-effect: none;
	-fx-border-style: solid inside;
}

#continueButton:hover {
	-fx-background-color: linear-gradient(to bottom right, #B00, #444);
}

#continueButton:hover:pressed {
	-fx-border-style: solid inside;
}