.list-cell {
	-fx-background-color: #000;
	-fx-alignment: center;
}

.list-cell:filled:hover   {
	-fx-cursor: hand;
}

.list-cell .label {
	-fx-text-fill: #FFF;
}

.list-cell:selected .portraitImageView {
	-fx-effect: innershadow(three-pass-box, WHITE, 72, 0.0, 0, 2);
}

.LineupListView {
	-fx-background-color: #000;
	-fx-alignment: center;
	-fx-border-color: rgba(128,128,128,0.5);
	-fx-border-radius: 10px;
	-fx-border-width: 2px;
}