.LineupEditorSelectionDisplay {
	-fx-background-color: rgba(50,50,50,0.95);
}

#titleLabel {
	-fx-font-family: Papyrus;
	-fx-text-fill: #FFF;
	-fx-font-size: 32px;
}

#innerContainer {
	-fx-background-color: linear-gradient(to bottom right, #000, #111);
	-fx-border-width: 1.5px;
	-fx-border-color: rgb(124,115,125);
	-fx-effect: dropshadow(gaussian, rgb(124,115,125), 5, 0.0, 0, 0);
	-fx-spacing: 20px;
	-fx-padding: 40px;
	-fx-max-width: 400px;
	-fx-max-height: 250px;
}

#buttonContainer {
	-fx-spacing: 10px;
}

#acceptButton, #cancelButton, #createButton {
	-fx-font-family: Papyrus;
	-fx-font-size: 16px;
}

#nameField, #descArea, #imageListView {
	-fx-background-color: #222;
	-fx-border-color: #ABC;
	-fx-border-width: 0.5px;
}