.LineupEditorSaveDialog {
	-fx-background-color: rgba(50,50,50,0.95);
}

#mainContainer {
	-fx-background-color: linear-gradient(to bottom right, #000, #111);
	-fx-border-width: 1.5px;
	-fx-border-color: rgb(124,115,125);
	-fx-effect: dropshadow(gaussian, rgb(124,115,125), 5, 0.0, 0, 0);
	-fx-spacing: 20px;
	-fx-padding: 40px;
	-fx-max-width: 600px;
	-fx-max-height: 300px;
}

#okButton {
	-fx-font-family: Papyrus;
	-fx-text-fill: #FFF;
	-fx-font-size: 14px;
}

.messageLabel {
	-fx-font-family: Papyrus;
	-fx-text-fill: #FFF;
	-fx-font-size: 16px;
}