.LineupEditorConfigDisplay {
	-fx-background-color: rgba(50,50,50,0.95);
}

#mainContainer {
	-fx-background-color: linear-gradient(to bottom right, #000, #111);
	-fx-border-width: 1.5px;
	-fx-border-color: rgb(124,115,125);
	-fx-effect: dropshadow(gaussian, rgb(124,115,125), 5, 0.0, 0, 0);
	-fx-spacing: 20px;
	-fx-padding: 40px;
	-fx-max-width: 800px;
	-fx-max-height: 600px;
}

#titleLabel {
	-fx-font-family: Papyrus;
	-fx-text-fill: #FFF;
	-fx-font-size: 32px;
}

#buttonContainer {
	-fx-spacing: 10px;
}

#backButton, #saveButton {
	-fx-font-family: Papyrus;
	-fx-font-size: 16px;
}

#nameLabel, #descLabel, #imageLabel {
	-fx-font-family: Papyrus;
	-fx-text-fill: #FFF;
	-fx-font-size: 16px;
}

#nameField, #descArea, #imageListView {
	-fx-background-color: #222;
	-fx-text-fill: #FFF;
	-fx-font-family: Papyrus;
}

#descArea .content {
	-fx-background-color: #222;
	-fx-background-radius: 0;
}

.lineupImageCell {
	-fx-background-color: transparent;
}

.lineupImageCell:filled:selected {
	-fx-background-color: #666;
}