.LineupEditorMainView {
	-fx-background-color: rgba(0,0,0,1);
}

.LineupEditorCharacterCell:hover {
	-fx-cursor: hand;
	-fx-effect: innershadow(gaussian, #FFF, 10px, 0.0, 0, 0);
}

.enhancementOverlay {
	-fx-background-color: rgba(0,0,0,0.5);
}