.LoginDisplay {
	-fx-background-color: rgba(50,50,50,0.95);
}

#rememberNameCheckBox, #titleLabel, #requestedNameLabel, #passwordLabel {
	-fx-font-family: Papyrus;
	-fx-text-fill: #FFF;
}

#innerContainer {
	-fx-background-color: linear-gradient(to bottom right, #000, #111);
	-fx-border-width: 1.5px;
	-fx-border-color: rgb(124,115,125);
	-fx-effect: dropshadow(gaussian, rgb(124,115,125), 5, 0.0, 0, 0);
	-fx-spacing: 20px;
	-fx-padding: 40px;
	-fx-max-width: 400px;
	-fx-max-height: 250px;
}

#buttonContainer {
	-fx-spacing: 10px;
}

#innerInnerContainer {
	-fx-spacing: 5px;
}

#titleLabel {
	-fx-font-size: 32px;
}

#requestedNameLabel, #requestedNameTextField, #passwordLabel, #passwordField, #rememberNameCheckBox, #requestedNameTextField, #loginButton, #cancelButton {
	-fx-font-size: 16px;
}

#requestedNameTextField, #passwordField {
	-fx-max-width: 200px;
}

.button {
	-fx-font-family: Papyrus;
}