.MainView {
	-fx-background-color: #000;
	-fx-background-image: url("/images/backgrounds/MainView.png");
	-fx-background-size: 100% 100%;
	-fx-background-repeat: stretch;
	-fx-background-position: center center;
}

#fightPlayerButton, #fightAIButton, #exitButton, #friendListButton, #lineupEditorButton, #settingsButton, #profileButton, #shopButton {
	-fx-alignment: center;
	-fx-wrap-text: true;
	-fx-content-display: top;
	-fx-cursor: hand;
}

#fightPlayerButton:hover, #fightAIButton:hover, #exitButton:hover, #friendListButton:hover, #lineupEditorButton:hover, #settingsButton:hover, #profileButton:hover, #shopButton:hover  {
	-fx-effect: dropshadow(gaussian, #EE0, 10, 0.0, 0, 0);
}

#fightPlayerButtonGraphic, #fightAIButtonGraphic, #friendListButtonGraphic, #lineupEditorButtonGraphic, #settingsButtonGraphic, #profileButtonGraphic, #shopButtonGraphic {
	-fx-smooth: true;
}