.QueueDisplay {

	-fx-background-color: rgba(50,50,50,0.95);

}

#innerContainer {
	-fx-background-color: linear-gradient(to bottom right, #000, #111);
	-fx-border-width: 1.5px;
	-fx-border-color: rgb(124,115,125);
	-fx-effect: dropshadow(gaussian, rgb(124,115,125), 5, 0.0, 0, 0);
	-fx-padding: 40px;
	-fx-spacing: 10px;
	-fx-max-height: 150px;
	-fx-max-width: 400px;
}

#loadingTitleLabel {
	-fx-text-fill: #FFF;
	-fx-font-family: Papyrus;
	-fx-font-size: 32px;
}

#timerLabel {
	-fx-text-fill: #FFF;
	-fx-font-family: Papyrus;
	-fx-font-size: 16px;
}

#cancelButton {
	-fx-font-family: Papyrus;
	-fx-font-size: 14px;
}